@font-face {
  font-family: Helvetica Monospaced;
  src:
    url(../fonts/HelveticaMonospacedRoman.woff2) format("woff2"),
    url(../fonts/HelveticaMonospacedRoman.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Helvetica Monospaced;
  src:
    url(../fonts/HelveticaMonospacedItalic.woff2) format("woff2"),
    url(../fonts/HelveticaMonospacedItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Helvetica Monospaced;
  src:
    url(../fonts/HelveticaMonospacedBold.woff2) format("woff2"),
    url(../fonts/HelveticaMonospacedBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Helvetica Monospaced;
  src:
    url(../fonts/HelveticaMonospacedBoldItalic.woff2) format("woff2"),
    url(../fonts/HelveticaMonospacedBoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Neue Haas Unica W1G;
  src: url(../fonts/NeueHaasUnicaW1G-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Neue Haas Unica W1G;
  src: url(../fonts/NeueHaasUnicaW1G-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Neue Haas Unica W1G;
  src: url(../fonts/NeueHaasUnicaW1G-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

